# Python Einführung 
## Unterüberschrift 
normalen *text*, oder aucch **fett**

In [1]:
print ("Hello World!")

Hello World!

In [2]:
# Das ist ein Kommentar
print("etwas")

etwas

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
name

'Lovelace'

In [6]:
age = 73

In [7]:
size = 1.71

In [8]:
knows_maths = True
likes_gardening = False

In [9]:
print(knows_maths)

True

In [10]:
# Datentyen mit "type" anzeigen lassen
type (name)

str

In [11]:
type (age)

int

In [12]:
type (size)

float

In [13]:
type (likes_gardening)

bool

In [14]:
5 + 5

10

In [15]:
age * 100

7300

In [16]:
name + name

'LovelaceLovelace'

In [17]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [18]:
name + "10"

'Lovelace10'

In [19]:
name + str(10)

'Lovelace10'

In [20]:
size / age

0.023424657534246576

## Funktionen und Methoden

In [21]:
len(name)

8

In [22]:
name.upper()

'LOVELACE'

In [23]:
name_upper = name.upper()

In [24]:
name_upper

'LOVELACE'

In [25]:
name.count("e")

2

In [26]:
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen und Dictionaries

In [27]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [28]:
names[2]

'Curie'

In [29]:
names[0]

'Lovelace'

In [30]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [31]:
names[3:]

['Hawking']

In [32]:
print(names[0], names[-1])

Lovelace Hawking

In [35]:
# Dictonary 
authors_and_birth_years = {"Lovelace": 1882, 
                          "Darwin": 1809, 
                          "Noether": 1942}

In [36]:
authors_and_birth_years["Darwin"]

1809

In [37]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [38]:
for name in names: 
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [39]:
for name in names: 
    print(name + " did awesome stuff")
print("--------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
--------

In [40]:
for name in names: 
    print(name + " did awesome stuff")
    print("--------")

Lovelace did awesome stuff
--------
Darwin did awesome stuff
--------
Curie did awesome stuff
--------
Hawking did awesome stuff
--------

In [41]:
for name in names: 
    print(name + " did awesome stuff")
    print("--------")
print("end")

Lovelace did awesome stuff
--------
Darwin did awesome stuff
--------
Curie did awesome stuff
--------
Hawking did awesome stuff
--------
end

In [42]:
authors_and_birth_years = {"Lovelace": 1882, 
                          "Darwin": 1809, 
                          "Noether": 1942}

In [48]:
for name, year in authors_and_birth_years.items():
    print(name + " was born in " + str(year))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1942

In [50]:
import os 
print(os.path.abspath(os.getcwd()))

C:\Users\julia